WebApp/Service References/CompanyService/Company.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetCompanyTypes">
        <s:complexType />
      </s:element>
      <s:element name="GetCompanyTypesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCompanyTypesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddCompany">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="type" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddCompanyResponse">
        <s:complexType />
      </s:element>
      <s:element name="HaveRequirements">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HaveRequirementsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="HaveRequirementsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCompanyTypesSoapIn">
    <wsdl:part name="parameters" element="tns:GetCompanyTypes" />
  </wsdl:message>
  <wsdl:message name="GetCompanyTypesSoapOut">
    <wsdl:part name="parameters" element="tns:GetCompanyTypesResponse" />
  </wsdl:message>
  <wsdl:message name="AddCompanySoapIn">
    <wsdl:part name="parameters" element="tns:AddCompany" />
  </wsdl:message>
  <wsdl:message name="AddCompanySoapOut">
    <wsdl:part name="parameters" element="tns:AddCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="HaveRequirementsSoapIn">
    <wsdl:part name="parameters" element="tns:HaveRequirements" />
  </wsdl:message>
  <wsdl:message name="HaveRequirementsSoapOut">
    <wsdl:part name="parameters" element="tns:HaveRequirementsResponse" />
  </wsdl:message>
  <wsdl:portType name="CompanySoap">
    <wsdl:operation name="GetCompanyTypes">
      <wsdl:input message="tns:GetCompanyTypesSoapIn" />
      <wsdl:output message="tns:GetCompanyTypesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddCompany">
      <wsdl:input message="tns:AddCompanySoapIn" />
      <wsdl:output message="tns:AddCompanySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HaveRequirements">
      <wsdl:input message="tns:HaveRequirementsSoapIn" />
      <wsdl:output message="tns:HaveRequirementsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CompanySoap" type="tns:CompanySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCompanyTypes">
      <soap:operation soapAction="http://tempuri.org/GetCompanyTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCompany">
      <soap:operation soapAction="http://tempuri.org/AddCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HaveRequirements">
      <soap:operation soapAction="http://tempuri.org/HaveRequirements" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CompanySoap12" type="tns:CompanySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCompanyTypes">
      <soap12:operation soapAction="http://tempuri.org/GetCompanyTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCompany">
      <soap12:operation soapAction="http://tempuri.org/AddCompany" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HaveRequirements">
      <soap12:operation soapAction="http://tempuri.org/HaveRequirements" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Company">
    <wsdl:port name="CompanySoap" binding="tns:CompanySoap">
      <soap:address location="http://localhost:8081/Company.asmx" />
    </wsdl:port>
    <wsdl:port name="CompanySoap12" binding="tns:CompanySoap12">
      <soap12:address location="http://localhost:8081/Company.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>