WebApp/Service References/RequirementQuestionService/RequirementQuestion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddQuestion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="question" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddQuestionResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddQuestionSoapIn">
    <wsdl:part name="parameters" element="tns:AddQuestion" />
  </wsdl:message>
  <wsdl:message name="AddQuestionSoapOut">
    <wsdl:part name="parameters" element="tns:AddQuestionResponse" />
  </wsdl:message>
  <wsdl:portType name="RequirementQuestionSoap">
    <wsdl:operation name="AddQuestion">
      <wsdl:input message="tns:AddQuestionSoapIn" />
      <wsdl:output message="tns:AddQuestionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RequirementQuestionSoap" type="tns:RequirementQuestionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddQuestion">
      <soap:operation soapAction="http://tempuri.org/AddQuestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RequirementQuestionSoap12" type="tns:RequirementQuestionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddQuestion">
      <soap12:operation soapAction="http://tempuri.org/AddQuestion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RequirementQuestion">
    <wsdl:port name="RequirementQuestionSoap" binding="tns:RequirementQuestionSoap">
      <soap:address location="http://localhost:8081/RequirementQuestion.asmx" />
    </wsdl:port>
    <wsdl:port name="RequirementQuestionSoap12" binding="tns:RequirementQuestionSoap12">
      <soap12:address location="http://localhost:8081/RequirementQuestion.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>