WebApp/Service References/GeneralService/General.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="LatestActivityFeed">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LatestActivityFeedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LatestActivityFeedResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetActivitiesSummary">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetActivitiesSummaryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetActivitiesSummaryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLatestActivities">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="entityId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="actionId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLatestActivitiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLatestActivitiesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllActivitiesNotifications">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllActivitiesNotificationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllActivitiesNotificationsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSearchResults">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSearchResultsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSearchResultsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LatestActivityFeedSoapIn">
    <wsdl:part name="parameters" element="tns:LatestActivityFeed" />
  </wsdl:message>
  <wsdl:message name="LatestActivityFeedSoapOut">
    <wsdl:part name="parameters" element="tns:LatestActivityFeedResponse" />
  </wsdl:message>
  <wsdl:message name="GetActivitiesSummarySoapIn">
    <wsdl:part name="parameters" element="tns:GetActivitiesSummary" />
  </wsdl:message>
  <wsdl:message name="GetActivitiesSummarySoapOut">
    <wsdl:part name="parameters" element="tns:GetActivitiesSummaryResponse" />
  </wsdl:message>
  <wsdl:message name="GetLatestActivitiesSoapIn">
    <wsdl:part name="parameters" element="tns:GetLatestActivities" />
  </wsdl:message>
  <wsdl:message name="GetLatestActivitiesSoapOut">
    <wsdl:part name="parameters" element="tns:GetLatestActivitiesResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllActivitiesNotificationsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllActivitiesNotifications" />
  </wsdl:message>
  <wsdl:message name="GetAllActivitiesNotificationsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllActivitiesNotificationsResponse" />
  </wsdl:message>
  <wsdl:message name="GetSearchResultsSoapIn">
    <wsdl:part name="parameters" element="tns:GetSearchResults" />
  </wsdl:message>
  <wsdl:message name="GetSearchResultsSoapOut">
    <wsdl:part name="parameters" element="tns:GetSearchResultsResponse" />
  </wsdl:message>
  <wsdl:portType name="GeneralSoap">
    <wsdl:operation name="LatestActivityFeed">
      <wsdl:input message="tns:LatestActivityFeedSoapIn" />
      <wsdl:output message="tns:LatestActivityFeedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetActivitiesSummary">
      <wsdl:input message="tns:GetActivitiesSummarySoapIn" />
      <wsdl:output message="tns:GetActivitiesSummarySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestActivities">
      <wsdl:input message="tns:GetLatestActivitiesSoapIn" />
      <wsdl:output message="tns:GetLatestActivitiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllActivitiesNotifications">
      <wsdl:input message="tns:GetAllActivitiesNotificationsSoapIn" />
      <wsdl:output message="tns:GetAllActivitiesNotificationsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSearchResults">
      <wsdl:input message="tns:GetSearchResultsSoapIn" />
      <wsdl:output message="tns:GetSearchResultsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GeneralSoap" type="tns:GeneralSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LatestActivityFeed">
      <soap:operation soapAction="http://tempuri.org/LatestActivityFeed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActivitiesSummary">
      <soap:operation soapAction="http://tempuri.org/GetActivitiesSummary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestActivities">
      <soap:operation soapAction="http://tempuri.org/GetLatestActivities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllActivitiesNotifications">
      <soap:operation soapAction="http://tempuri.org/GetAllActivitiesNotifications" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSearchResults">
      <soap:operation soapAction="http://tempuri.org/GetSearchResults" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GeneralSoap12" type="tns:GeneralSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LatestActivityFeed">
      <soap12:operation soapAction="http://tempuri.org/LatestActivityFeed" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActivitiesSummary">
      <soap12:operation soapAction="http://tempuri.org/GetActivitiesSummary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestActivities">
      <soap12:operation soapAction="http://tempuri.org/GetLatestActivities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllActivitiesNotifications">
      <soap12:operation soapAction="http://tempuri.org/GetAllActivitiesNotifications" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSearchResults">
      <soap12:operation soapAction="http://tempuri.org/GetSearchResults" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="General">
    <wsdl:port name="GeneralSoap" binding="tns:GeneralSoap">
      <soap:address location="http://localhost:8081/General.asmx" />
    </wsdl:port>
    <wsdl:port name="GeneralSoap12" binding="tns:GeneralSoap12">
      <soap12:address location="http://localhost:8081/General.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>