WebApp/Service References/ProjectService/Project.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddProject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddProjectResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddProjectSoapIn">
    <wsdl:part name="parameters" element="tns:AddProject" />
  </wsdl:message>
  <wsdl:message name="AddProjectSoapOut">
    <wsdl:part name="parameters" element="tns:AddProjectResponse" />
  </wsdl:message>
  <wsdl:portType name="ProjectSoap">
    <wsdl:operation name="AddProject">
      <wsdl:input message="tns:AddProjectSoapIn" />
      <wsdl:output message="tns:AddProjectSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProjectSoap" type="tns:ProjectSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddProject">
      <soap:operation soapAction="http://tempuri.org/AddProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProjectSoap12" type="tns:ProjectSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddProject">
      <soap12:operation soapAction="http://tempuri.org/AddProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Project">
    <wsdl:port name="ProjectSoap" binding="tns:ProjectSoap">
      <soap:address location="http://localhost:8081/Project.asmx" />
    </wsdl:port>
    <wsdl:port name="ProjectSoap12" binding="tns:ProjectSoap12">
      <soap12:address location="http://localhost:8081/Project.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>