WebApp/Service References/AccountService/Account.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CreateNewUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="primaryemail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="secondaryemail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="birthdate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mobilephone" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateNewUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateNewUserResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateNewUserSoapIn">
    <wsdl:part name="parameters" element="tns:CreateNewUser" />
  </wsdl:message>
  <wsdl:message name="CreateNewUserSoapOut">
    <wsdl:part name="parameters" element="tns:CreateNewUserResponse" />
  </wsdl:message>
  <wsdl:portType name="AccountSoap">
    <wsdl:operation name="CreateNewUser">
      <wsdl:input message="tns:CreateNewUserSoapIn" />
      <wsdl:output message="tns:CreateNewUserSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccountSoap" type="tns:AccountSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateNewUser">
      <soap:operation soapAction="http://tempuri.org/CreateNewUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AccountSoap12" type="tns:AccountSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateNewUser">
      <soap12:operation soapAction="http://tempuri.org/CreateNewUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Account">
    <wsdl:port name="AccountSoap" binding="tns:AccountSoap">
      <soap:address location="http://localhost:3211/Account.asmx" />
    </wsdl:port>
    <wsdl:port name="AccountSoap12" binding="tns:AccountSoap12">
      <soap12:address location="http://localhost:3211/Account.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>