WebApp/Service References/AccountService/Account.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CreateNewUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="encPrimaryemail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="encSecondaryemail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="encPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="birthdate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mobilephone" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateNewUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateNewUserResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidatePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="encPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidatePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidatePasswordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserCompanies">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserCompaniesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserCompaniesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetCompany">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetCompanyResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetUserData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPermissionsPerProject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPermissionsPerProjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPermissionsPerProjectResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserExists">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserExistsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserExistsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="encPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetPasswordResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateNewUserSoapIn">
    <wsdl:part name="parameters" element="tns:CreateNewUser" />
  </wsdl:message>
  <wsdl:message name="CreateNewUserSoapOut">
    <wsdl:part name="parameters" element="tns:CreateNewUserResponse" />
  </wsdl:message>
  <wsdl:message name="ValidatePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ValidatePassword" />
  </wsdl:message>
  <wsdl:message name="ValidatePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ValidatePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserCompaniesSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserCompanies" />
  </wsdl:message>
  <wsdl:message name="GetUserCompaniesSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserCompaniesResponse" />
  </wsdl:message>
  <wsdl:message name="SetCompanySoapIn">
    <wsdl:part name="parameters" element="tns:SetCompany" />
  </wsdl:message>
  <wsdl:message name="SetCompanySoapOut">
    <wsdl:part name="parameters" element="tns:SetCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserData" />
  </wsdl:message>
  <wsdl:message name="GetUserDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetPermissionsPerProjectSoapIn">
    <wsdl:part name="parameters" element="tns:GetPermissionsPerProject" />
  </wsdl:message>
  <wsdl:message name="GetPermissionsPerProjectSoapOut">
    <wsdl:part name="parameters" element="tns:GetPermissionsPerProjectResponse" />
  </wsdl:message>
  <wsdl:message name="UserExistsSoapIn">
    <wsdl:part name="parameters" element="tns:UserExists" />
  </wsdl:message>
  <wsdl:message name="UserExistsSoapOut">
    <wsdl:part name="parameters" element="tns:UserExistsResponse" />
  </wsdl:message>
  <wsdl:message name="SetPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:SetPassword" />
  </wsdl:message>
  <wsdl:message name="SetPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:SetPasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="AccountSoap">
    <wsdl:operation name="CreateNewUser">
      <wsdl:input message="tns:CreateNewUserSoapIn" />
      <wsdl:output message="tns:CreateNewUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidatePassword">
      <wsdl:input message="tns:ValidatePasswordSoapIn" />
      <wsdl:output message="tns:ValidatePasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserCompanies">
      <wsdl:input message="tns:GetUserCompaniesSoapIn" />
      <wsdl:output message="tns:GetUserCompaniesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetCompany">
      <wsdl:input message="tns:SetCompanySoapIn" />
      <wsdl:output message="tns:SetCompanySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserData">
      <wsdl:input message="tns:GetUserDataSoapIn" />
      <wsdl:output message="tns:GetUserDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPermissionsPerProject">
      <wsdl:input message="tns:GetPermissionsPerProjectSoapIn" />
      <wsdl:output message="tns:GetPermissionsPerProjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserExists">
      <wsdl:input message="tns:UserExistsSoapIn" />
      <wsdl:output message="tns:UserExistsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetPassword">
      <wsdl:input message="tns:SetPasswordSoapIn" />
      <wsdl:output message="tns:SetPasswordSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccountSoap" type="tns:AccountSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateNewUser">
      <soap:operation soapAction="http://tempuri.org/CreateNewUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidatePassword">
      <soap:operation soapAction="http://tempuri.org/ValidatePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserCompanies">
      <soap:operation soapAction="http://tempuri.org/GetUserCompanies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCompany">
      <soap:operation soapAction="http://tempuri.org/SetCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserData">
      <soap:operation soapAction="http://tempuri.org/GetUserData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPermissionsPerProject">
      <soap:operation soapAction="http://tempuri.org/GetPermissionsPerProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserExists">
      <soap:operation soapAction="http://tempuri.org/UserExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPassword">
      <soap:operation soapAction="http://tempuri.org/SetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AccountSoap12" type="tns:AccountSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateNewUser">
      <soap12:operation soapAction="http://tempuri.org/CreateNewUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidatePassword">
      <soap12:operation soapAction="http://tempuri.org/ValidatePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserCompanies">
      <soap12:operation soapAction="http://tempuri.org/GetUserCompanies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCompany">
      <soap12:operation soapAction="http://tempuri.org/SetCompany" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserData">
      <soap12:operation soapAction="http://tempuri.org/GetUserData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPermissionsPerProject">
      <soap12:operation soapAction="http://tempuri.org/GetPermissionsPerProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserExists">
      <soap12:operation soapAction="http://tempuri.org/UserExists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPassword">
      <soap12:operation soapAction="http://tempuri.org/SetPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Account">
    <wsdl:port name="AccountSoap" binding="tns:AccountSoap">
      <soap:address location="http://localhost:8081/Account.asmx" />
    </wsdl:port>
    <wsdl:port name="AccountSoap12" binding="tns:AccountSoap12">
      <soap12:address location="http://localhost:8081/Account.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>