WebApp/Service References/RequirementService/Requirement.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddRequirement">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddRequirementResponse">
        <s:complexType />
      </s:element>
      <s:element name="LikeRequirement">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LikeRequirementResponse">
        <s:complexType />
      </s:element>
      <s:element name="DislikeRequirement">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DislikeRequirementResponse">
        <s:complexType />
      </s:element>
      <s:element name="CommentOnRequirement">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="requirementId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="comment" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CommentOnRequirementResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetRequirementsList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRequirementsListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRequirementsListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRequirement">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRequirementResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRequirementResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ApproveRequirement">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ApproveRequirementResponse">
        <s:complexType />
      </s:element>
      <s:element name="RejectRequirement">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RejectRequirementResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddRequirementModification">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddRequirementModificationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddRequirementModificationResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRequirementModification">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementModificationId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRequirementModificationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRequirementModificationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrentRequirementModification">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrentRequirementModificationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCurrentRequirementModificationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddRequirementSoapIn">
    <wsdl:part name="parameters" element="tns:AddRequirement" />
  </wsdl:message>
  <wsdl:message name="AddRequirementSoapOut">
    <wsdl:part name="parameters" element="tns:AddRequirementResponse" />
  </wsdl:message>
  <wsdl:message name="LikeRequirementSoapIn">
    <wsdl:part name="parameters" element="tns:LikeRequirement" />
  </wsdl:message>
  <wsdl:message name="LikeRequirementSoapOut">
    <wsdl:part name="parameters" element="tns:LikeRequirementResponse" />
  </wsdl:message>
  <wsdl:message name="DislikeRequirementSoapIn">
    <wsdl:part name="parameters" element="tns:DislikeRequirement" />
  </wsdl:message>
  <wsdl:message name="DislikeRequirementSoapOut">
    <wsdl:part name="parameters" element="tns:DislikeRequirementResponse" />
  </wsdl:message>
  <wsdl:message name="CommentOnRequirementSoapIn">
    <wsdl:part name="parameters" element="tns:CommentOnRequirement" />
  </wsdl:message>
  <wsdl:message name="CommentOnRequirementSoapOut">
    <wsdl:part name="parameters" element="tns:CommentOnRequirementResponse" />
  </wsdl:message>
  <wsdl:message name="GetRequirementsListSoapIn">
    <wsdl:part name="parameters" element="tns:GetRequirementsList" />
  </wsdl:message>
  <wsdl:message name="GetRequirementsListSoapOut">
    <wsdl:part name="parameters" element="tns:GetRequirementsListResponse" />
  </wsdl:message>
  <wsdl:message name="GetRequirementSoapIn">
    <wsdl:part name="parameters" element="tns:GetRequirement" />
  </wsdl:message>
  <wsdl:message name="GetRequirementSoapOut">
    <wsdl:part name="parameters" element="tns:GetRequirementResponse" />
  </wsdl:message>
  <wsdl:message name="ApproveRequirementSoapIn">
    <wsdl:part name="parameters" element="tns:ApproveRequirement" />
  </wsdl:message>
  <wsdl:message name="ApproveRequirementSoapOut">
    <wsdl:part name="parameters" element="tns:ApproveRequirementResponse" />
  </wsdl:message>
  <wsdl:message name="RejectRequirementSoapIn">
    <wsdl:part name="parameters" element="tns:RejectRequirement" />
  </wsdl:message>
  <wsdl:message name="RejectRequirementSoapOut">
    <wsdl:part name="parameters" element="tns:RejectRequirementResponse" />
  </wsdl:message>
  <wsdl:message name="AddRequirementModificationSoapIn">
    <wsdl:part name="parameters" element="tns:AddRequirementModification" />
  </wsdl:message>
  <wsdl:message name="AddRequirementModificationSoapOut">
    <wsdl:part name="parameters" element="tns:AddRequirementModificationResponse" />
  </wsdl:message>
  <wsdl:message name="GetRequirementModificationSoapIn">
    <wsdl:part name="parameters" element="tns:GetRequirementModification" />
  </wsdl:message>
  <wsdl:message name="GetRequirementModificationSoapOut">
    <wsdl:part name="parameters" element="tns:GetRequirementModificationResponse" />
  </wsdl:message>
  <wsdl:message name="GetCurrentRequirementModificationSoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrentRequirementModification" />
  </wsdl:message>
  <wsdl:message name="GetCurrentRequirementModificationSoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrentRequirementModificationResponse" />
  </wsdl:message>
  <wsdl:portType name="RequirementSoap">
    <wsdl:operation name="AddRequirement">
      <wsdl:input message="tns:AddRequirementSoapIn" />
      <wsdl:output message="tns:AddRequirementSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LikeRequirement">
      <wsdl:input message="tns:LikeRequirementSoapIn" />
      <wsdl:output message="tns:LikeRequirementSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DislikeRequirement">
      <wsdl:input message="tns:DislikeRequirementSoapIn" />
      <wsdl:output message="tns:DislikeRequirementSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CommentOnRequirement">
      <wsdl:input message="tns:CommentOnRequirementSoapIn" />
      <wsdl:output message="tns:CommentOnRequirementSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRequirementsList">
      <wsdl:input message="tns:GetRequirementsListSoapIn" />
      <wsdl:output message="tns:GetRequirementsListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRequirement">
      <wsdl:input message="tns:GetRequirementSoapIn" />
      <wsdl:output message="tns:GetRequirementSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ApproveRequirement">
      <wsdl:input message="tns:ApproveRequirementSoapIn" />
      <wsdl:output message="tns:ApproveRequirementSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RejectRequirement">
      <wsdl:input message="tns:RejectRequirementSoapIn" />
      <wsdl:output message="tns:RejectRequirementSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddRequirementModification">
      <wsdl:input message="tns:AddRequirementModificationSoapIn" />
      <wsdl:output message="tns:AddRequirementModificationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRequirementModification">
      <wsdl:input message="tns:GetRequirementModificationSoapIn" />
      <wsdl:output message="tns:GetRequirementModificationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentRequirementModification">
      <wsdl:input message="tns:GetCurrentRequirementModificationSoapIn" />
      <wsdl:output message="tns:GetCurrentRequirementModificationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RequirementSoap" type="tns:RequirementSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddRequirement">
      <soap:operation soapAction="http://tempuri.org/AddRequirement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LikeRequirement">
      <soap:operation soapAction="http://tempuri.org/LikeRequirement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DislikeRequirement">
      <soap:operation soapAction="http://tempuri.org/DislikeRequirement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommentOnRequirement">
      <soap:operation soapAction="http://tempuri.org/CommentOnRequirement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequirementsList">
      <soap:operation soapAction="http://tempuri.org/GetRequirementsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequirement">
      <soap:operation soapAction="http://tempuri.org/GetRequirement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApproveRequirement">
      <soap:operation soapAction="http://tempuri.org/ApproveRequirement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RejectRequirement">
      <soap:operation soapAction="http://tempuri.org/RejectRequirement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRequirementModification">
      <soap:operation soapAction="http://tempuri.org/AddRequirementModification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequirementModification">
      <soap:operation soapAction="http://tempuri.org/GetRequirementModification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentRequirementModification">
      <soap:operation soapAction="http://tempuri.org/GetCurrentRequirementModification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RequirementSoap12" type="tns:RequirementSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddRequirement">
      <soap12:operation soapAction="http://tempuri.org/AddRequirement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LikeRequirement">
      <soap12:operation soapAction="http://tempuri.org/LikeRequirement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DislikeRequirement">
      <soap12:operation soapAction="http://tempuri.org/DislikeRequirement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommentOnRequirement">
      <soap12:operation soapAction="http://tempuri.org/CommentOnRequirement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequirementsList">
      <soap12:operation soapAction="http://tempuri.org/GetRequirementsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequirement">
      <soap12:operation soapAction="http://tempuri.org/GetRequirement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApproveRequirement">
      <soap12:operation soapAction="http://tempuri.org/ApproveRequirement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RejectRequirement">
      <soap12:operation soapAction="http://tempuri.org/RejectRequirement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRequirementModification">
      <soap12:operation soapAction="http://tempuri.org/AddRequirementModification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequirementModification">
      <soap12:operation soapAction="http://tempuri.org/GetRequirementModification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentRequirementModification">
      <soap12:operation soapAction="http://tempuri.org/GetCurrentRequirementModification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Requirement">
    <wsdl:port name="RequirementSoap" binding="tns:RequirementSoap">
      <soap:address location="http://localhost:8081/Requirement.asmx" />
    </wsdl:port>
    <wsdl:port name="RequirementSoap12" binding="tns:RequirementSoap12">
      <soap12:address location="http://localhost:8081/Requirement.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>