WebApp/Service References/RequirementService/Requirement.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddRequirement">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddRequirementResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddRequirementSoapIn">
    <wsdl:part name="parameters" element="tns:AddRequirement" />
  </wsdl:message>
  <wsdl:message name="AddRequirementSoapOut">
    <wsdl:part name="parameters" element="tns:AddRequirementResponse" />
  </wsdl:message>
  <wsdl:portType name="RequirementSoap">
    <wsdl:operation name="AddRequirement">
      <wsdl:input message="tns:AddRequirementSoapIn" />
      <wsdl:output message="tns:AddRequirementSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RequirementSoap" type="tns:RequirementSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddRequirement">
      <soap:operation soapAction="http://tempuri.org/AddRequirement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RequirementSoap12" type="tns:RequirementSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddRequirement">
      <soap12:operation soapAction="http://tempuri.org/AddRequirement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Requirement">
    <wsdl:port name="RequirementSoap" binding="tns:RequirementSoap">
      <soap:address location="http://localhost:8081/Requirement.asmx" />
    </wsdl:port>
    <wsdl:port name="RequirementSoap12" binding="tns:RequirementSoap12">
      <soap12:address location="http://localhost:8081/Requirement.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>