WebApp/Service References/RequirementService/Requirement.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddRequirement">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddRequirementResponse">
        <s:complexType />
      </s:element>
      <s:element name="CommentRequirement">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="comment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CommentRequirementResponse">
        <s:complexType />
      </s:element>
      <s:element name="LikeRequirement">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LikeRequirementResponse">
        <s:complexType />
      </s:element>
      <s:element name="DislikeRequirement">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DislikeRequirementResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetRequirementsList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRequirementsListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRequirementsListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRequirement">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRequirementResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRequirementResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRequirementComments">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRequirementCommentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRequirementCommentsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ApproveRequirement">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ApproveRequirementResponse">
        <s:complexType />
      </s:element>
      <s:element name="RejectRequirement">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RejectRequirementResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddRequirementModification">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddRequirementModificationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddRequirementModificationResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRequirementModification">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementModificationId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRequirementModificationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRequirementModificationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrentRequirementModification">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrentRequirementModificationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCurrentRequirementModificationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateRequirement">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateRequirementResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateRequirementModification">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementModifId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateRequirementModificationResponse">
        <s:complexType />
      </s:element>
      <s:element name="SubmitRequirementForApproval">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitRequirementForApprovalResponse">
        <s:complexType />
      </s:element>
      <s:element name="SubmitRequirementModificationForApproval">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementModificationId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitRequirementModificationForApprovalResponse">
        <s:complexType />
      </s:element>
      <s:element name="ApproveRequirementModification">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementModificationId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ApproveRequirementModificationResponse">
        <s:complexType />
      </s:element>
      <s:element name="RejectRequirementModification">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementModificationId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RejectRequirementModificationResponse">
        <s:complexType />
      </s:element>
      <s:element name="LikeRequirementModification">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementModificationId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LikeRequirementModificationResponse">
        <s:complexType />
      </s:element>
      <s:element name="DislikeRequirementModification">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementModificationId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DislikeRequirementModificationResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddRequirementSoapIn">
    <wsdl:part name="parameters" element="tns:AddRequirement" />
  </wsdl:message>
  <wsdl:message name="AddRequirementSoapOut">
    <wsdl:part name="parameters" element="tns:AddRequirementResponse" />
  </wsdl:message>
  <wsdl:message name="CommentRequirementSoapIn">
    <wsdl:part name="parameters" element="tns:CommentRequirement" />
  </wsdl:message>
  <wsdl:message name="CommentRequirementSoapOut">
    <wsdl:part name="parameters" element="tns:CommentRequirementResponse" />
  </wsdl:message>
  <wsdl:message name="LikeRequirementSoapIn">
    <wsdl:part name="parameters" element="tns:LikeRequirement" />
  </wsdl:message>
  <wsdl:message name="LikeRequirementSoapOut">
    <wsdl:part name="parameters" element="tns:LikeRequirementResponse" />
  </wsdl:message>
  <wsdl:message name="DislikeRequirementSoapIn">
    <wsdl:part name="parameters" element="tns:DislikeRequirement" />
  </wsdl:message>
  <wsdl:message name="DislikeRequirementSoapOut">
    <wsdl:part name="parameters" element="tns:DislikeRequirementResponse" />
  </wsdl:message>
  <wsdl:message name="GetRequirementsListSoapIn">
    <wsdl:part name="parameters" element="tns:GetRequirementsList" />
  </wsdl:message>
  <wsdl:message name="GetRequirementsListSoapOut">
    <wsdl:part name="parameters" element="tns:GetRequirementsListResponse" />
  </wsdl:message>
  <wsdl:message name="GetRequirementSoapIn">
    <wsdl:part name="parameters" element="tns:GetRequirement" />
  </wsdl:message>
  <wsdl:message name="GetRequirementSoapOut">
    <wsdl:part name="parameters" element="tns:GetRequirementResponse" />
  </wsdl:message>
  <wsdl:message name="GetRequirementCommentsSoapIn">
    <wsdl:part name="parameters" element="tns:GetRequirementComments" />
  </wsdl:message>
  <wsdl:message name="GetRequirementCommentsSoapOut">
    <wsdl:part name="parameters" element="tns:GetRequirementCommentsResponse" />
  </wsdl:message>
  <wsdl:message name="ApproveRequirementSoapIn">
    <wsdl:part name="parameters" element="tns:ApproveRequirement" />
  </wsdl:message>
  <wsdl:message name="ApproveRequirementSoapOut">
    <wsdl:part name="parameters" element="tns:ApproveRequirementResponse" />
  </wsdl:message>
  <wsdl:message name="RejectRequirementSoapIn">
    <wsdl:part name="parameters" element="tns:RejectRequirement" />
  </wsdl:message>
  <wsdl:message name="RejectRequirementSoapOut">
    <wsdl:part name="parameters" element="tns:RejectRequirementResponse" />
  </wsdl:message>
  <wsdl:message name="AddRequirementModificationSoapIn">
    <wsdl:part name="parameters" element="tns:AddRequirementModification" />
  </wsdl:message>
  <wsdl:message name="AddRequirementModificationSoapOut">
    <wsdl:part name="parameters" element="tns:AddRequirementModificationResponse" />
  </wsdl:message>
  <wsdl:message name="GetRequirementModificationSoapIn">
    <wsdl:part name="parameters" element="tns:GetRequirementModification" />
  </wsdl:message>
  <wsdl:message name="GetRequirementModificationSoapOut">
    <wsdl:part name="parameters" element="tns:GetRequirementModificationResponse" />
  </wsdl:message>
  <wsdl:message name="GetCurrentRequirementModificationSoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrentRequirementModification" />
  </wsdl:message>
  <wsdl:message name="GetCurrentRequirementModificationSoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrentRequirementModificationResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateRequirementSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateRequirement" />
  </wsdl:message>
  <wsdl:message name="UpdateRequirementSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateRequirementResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateRequirementModificationSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateRequirementModification" />
  </wsdl:message>
  <wsdl:message name="UpdateRequirementModificationSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateRequirementModificationResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitRequirementForApprovalSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitRequirementForApproval" />
  </wsdl:message>
  <wsdl:message name="SubmitRequirementForApprovalSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitRequirementForApprovalResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitRequirementModificationForApprovalSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitRequirementModificationForApproval" />
  </wsdl:message>
  <wsdl:message name="SubmitRequirementModificationForApprovalSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitRequirementModificationForApprovalResponse" />
  </wsdl:message>
  <wsdl:message name="ApproveRequirementModificationSoapIn">
    <wsdl:part name="parameters" element="tns:ApproveRequirementModification" />
  </wsdl:message>
  <wsdl:message name="ApproveRequirementModificationSoapOut">
    <wsdl:part name="parameters" element="tns:ApproveRequirementModificationResponse" />
  </wsdl:message>
  <wsdl:message name="RejectRequirementModificationSoapIn">
    <wsdl:part name="parameters" element="tns:RejectRequirementModification" />
  </wsdl:message>
  <wsdl:message name="RejectRequirementModificationSoapOut">
    <wsdl:part name="parameters" element="tns:RejectRequirementModificationResponse" />
  </wsdl:message>
  <wsdl:message name="LikeRequirementModificationSoapIn">
    <wsdl:part name="parameters" element="tns:LikeRequirementModification" />
  </wsdl:message>
  <wsdl:message name="LikeRequirementModificationSoapOut">
    <wsdl:part name="parameters" element="tns:LikeRequirementModificationResponse" />
  </wsdl:message>
  <wsdl:message name="DislikeRequirementModificationSoapIn">
    <wsdl:part name="parameters" element="tns:DislikeRequirementModification" />
  </wsdl:message>
  <wsdl:message name="DislikeRequirementModificationSoapOut">
    <wsdl:part name="parameters" element="tns:DislikeRequirementModificationResponse" />
  </wsdl:message>
  <wsdl:portType name="RequirementSoap">
    <wsdl:operation name="AddRequirement">
      <wsdl:input message="tns:AddRequirementSoapIn" />
      <wsdl:output message="tns:AddRequirementSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CommentRequirement">
      <wsdl:input message="tns:CommentRequirementSoapIn" />
      <wsdl:output message="tns:CommentRequirementSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LikeRequirement">
      <wsdl:input message="tns:LikeRequirementSoapIn" />
      <wsdl:output message="tns:LikeRequirementSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DislikeRequirement">
      <wsdl:input message="tns:DislikeRequirementSoapIn" />
      <wsdl:output message="tns:DislikeRequirementSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRequirementsList">
      <wsdl:input message="tns:GetRequirementsListSoapIn" />
      <wsdl:output message="tns:GetRequirementsListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRequirement">
      <wsdl:input message="tns:GetRequirementSoapIn" />
      <wsdl:output message="tns:GetRequirementSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRequirementComments">
      <wsdl:input message="tns:GetRequirementCommentsSoapIn" />
      <wsdl:output message="tns:GetRequirementCommentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ApproveRequirement">
      <wsdl:input message="tns:ApproveRequirementSoapIn" />
      <wsdl:output message="tns:ApproveRequirementSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RejectRequirement">
      <wsdl:input message="tns:RejectRequirementSoapIn" />
      <wsdl:output message="tns:RejectRequirementSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddRequirementModification">
      <wsdl:input message="tns:AddRequirementModificationSoapIn" />
      <wsdl:output message="tns:AddRequirementModificationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRequirementModification">
      <wsdl:input message="tns:GetRequirementModificationSoapIn" />
      <wsdl:output message="tns:GetRequirementModificationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentRequirementModification">
      <wsdl:input message="tns:GetCurrentRequirementModificationSoapIn" />
      <wsdl:output message="tns:GetCurrentRequirementModificationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRequirement">
      <wsdl:input message="tns:UpdateRequirementSoapIn" />
      <wsdl:output message="tns:UpdateRequirementSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRequirementModification">
      <wsdl:input message="tns:UpdateRequirementModificationSoapIn" />
      <wsdl:output message="tns:UpdateRequirementModificationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitRequirementForApproval">
      <wsdl:input message="tns:SubmitRequirementForApprovalSoapIn" />
      <wsdl:output message="tns:SubmitRequirementForApprovalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitRequirementModificationForApproval">
      <wsdl:input message="tns:SubmitRequirementModificationForApprovalSoapIn" />
      <wsdl:output message="tns:SubmitRequirementModificationForApprovalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ApproveRequirementModification">
      <wsdl:input message="tns:ApproveRequirementModificationSoapIn" />
      <wsdl:output message="tns:ApproveRequirementModificationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RejectRequirementModification">
      <wsdl:input message="tns:RejectRequirementModificationSoapIn" />
      <wsdl:output message="tns:RejectRequirementModificationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LikeRequirementModification">
      <wsdl:input message="tns:LikeRequirementModificationSoapIn" />
      <wsdl:output message="tns:LikeRequirementModificationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DislikeRequirementModification">
      <wsdl:input message="tns:DislikeRequirementModificationSoapIn" />
      <wsdl:output message="tns:DislikeRequirementModificationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RequirementSoap" type="tns:RequirementSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddRequirement">
      <soap:operation soapAction="http://tempuri.org/AddRequirement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommentRequirement">
      <soap:operation soapAction="http://tempuri.org/CommentRequirement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LikeRequirement">
      <soap:operation soapAction="http://tempuri.org/LikeRequirement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DislikeRequirement">
      <soap:operation soapAction="http://tempuri.org/DislikeRequirement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequirementsList">
      <soap:operation soapAction="http://tempuri.org/GetRequirementsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequirement">
      <soap:operation soapAction="http://tempuri.org/GetRequirement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequirementComments">
      <soap:operation soapAction="http://tempuri.org/GetRequirementComments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApproveRequirement">
      <soap:operation soapAction="http://tempuri.org/ApproveRequirement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RejectRequirement">
      <soap:operation soapAction="http://tempuri.org/RejectRequirement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRequirementModification">
      <soap:operation soapAction="http://tempuri.org/AddRequirementModification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequirementModification">
      <soap:operation soapAction="http://tempuri.org/GetRequirementModification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentRequirementModification">
      <soap:operation soapAction="http://tempuri.org/GetCurrentRequirementModification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRequirement">
      <soap:operation soapAction="http://tempuri.org/UpdateRequirement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRequirementModification">
      <soap:operation soapAction="http://tempuri.org/UpdateRequirementModification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitRequirementForApproval">
      <soap:operation soapAction="http://tempuri.org/SubmitRequirementForApproval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitRequirementModificationForApproval">
      <soap:operation soapAction="http://tempuri.org/SubmitRequirementModificationForApproval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApproveRequirementModification">
      <soap:operation soapAction="http://tempuri.org/ApproveRequirementModification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RejectRequirementModification">
      <soap:operation soapAction="http://tempuri.org/RejectRequirementModification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LikeRequirementModification">
      <soap:operation soapAction="http://tempuri.org/LikeRequirementModification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DislikeRequirementModification">
      <soap:operation soapAction="http://tempuri.org/DislikeRequirementModification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RequirementSoap12" type="tns:RequirementSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddRequirement">
      <soap12:operation soapAction="http://tempuri.org/AddRequirement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommentRequirement">
      <soap12:operation soapAction="http://tempuri.org/CommentRequirement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LikeRequirement">
      <soap12:operation soapAction="http://tempuri.org/LikeRequirement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DislikeRequirement">
      <soap12:operation soapAction="http://tempuri.org/DislikeRequirement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequirementsList">
      <soap12:operation soapAction="http://tempuri.org/GetRequirementsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequirement">
      <soap12:operation soapAction="http://tempuri.org/GetRequirement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequirementComments">
      <soap12:operation soapAction="http://tempuri.org/GetRequirementComments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApproveRequirement">
      <soap12:operation soapAction="http://tempuri.org/ApproveRequirement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RejectRequirement">
      <soap12:operation soapAction="http://tempuri.org/RejectRequirement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRequirementModification">
      <soap12:operation soapAction="http://tempuri.org/AddRequirementModification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequirementModification">
      <soap12:operation soapAction="http://tempuri.org/GetRequirementModification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentRequirementModification">
      <soap12:operation soapAction="http://tempuri.org/GetCurrentRequirementModification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRequirement">
      <soap12:operation soapAction="http://tempuri.org/UpdateRequirement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRequirementModification">
      <soap12:operation soapAction="http://tempuri.org/UpdateRequirementModification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitRequirementForApproval">
      <soap12:operation soapAction="http://tempuri.org/SubmitRequirementForApproval" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitRequirementModificationForApproval">
      <soap12:operation soapAction="http://tempuri.org/SubmitRequirementModificationForApproval" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApproveRequirementModification">
      <soap12:operation soapAction="http://tempuri.org/ApproveRequirementModification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RejectRequirementModification">
      <soap12:operation soapAction="http://tempuri.org/RejectRequirementModification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LikeRequirementModification">
      <soap12:operation soapAction="http://tempuri.org/LikeRequirementModification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DislikeRequirementModification">
      <soap12:operation soapAction="http://tempuri.org/DislikeRequirementModification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Requirement">
    <wsdl:port name="RequirementSoap" binding="tns:RequirementSoap">
      <soap:address location="http://localhost:8081/Requirement.asmx" />
    </wsdl:port>
    <wsdl:port name="RequirementSoap12" binding="tns:RequirementSoap12">
      <soap12:address location="http://localhost:8081/Requirement.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>