WebApp/Service References/RequirementService/Requirement.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddRequirement">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="hashtags" type="tns:ArrayOfString" />
            <s:element minOccurs="1" maxOccurs="1" name="priorityId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddRequirementResponse">
        <s:complexType />
      </s:element>
      <s:element name="CommentRequirement">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="comment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CommentRequirementResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CommentRequirementResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LikeRequirement">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LikeRequirementResponse">
        <s:complexType />
      </s:element>
      <s:element name="DislikeRequirement">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DislikeRequirementResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetRequirementsList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRequirementsListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRequirementsListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRequirementsByHashtag">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="hashtag" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRequirementsByHashtagResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRequirementsByHashtagResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetApprovedRequirementsList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetApprovedRequirementsListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetApprovedRequirementsListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRejectedRequirementsList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRejectedRequirementsListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRejectedRequirementsListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPendingApprovalRequirementsList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPendingApprovalRequirementsListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPendingApprovalRequirementsListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDraftRequirementsList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDraftRequirementsListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDraftRequirementsListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPendingDevelopmentRequirementsList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPendingDevelopmentRequirementsListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPendingDevelopmentRequirementsListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUnderDevelopmentRequirementsList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUnderDevelopmentRequirementsListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUnderDevelopmentRequirementsListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUnderTestingRequirementsList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUnderTestingRequirementsListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUnderTestingRequirementsListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeployedRequirementsList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeployedRequirementsListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDeployedRequirementsListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRequirement">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRequirementResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRequirementResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRequirementComments">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRequirementCommentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRequirementCommentsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ApproveRequirement">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ApproveRequirementResponse">
        <s:complexType />
      </s:element>
      <s:element name="SetRequirementDeployed">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetRequirementDeployedResponse">
        <s:complexType />
      </s:element>
      <s:element name="SetRequirementUnderTesting">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetRequirementUnderTestingResponse">
        <s:complexType />
      </s:element>
      <s:element name="SetRequirementUnderDevelopment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetRequirementUnderDevelopmentResponse">
        <s:complexType />
      </s:element>
      <s:element name="RejectRequirement">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RejectRequirementResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddRequirementModification">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="hashtagsToAdd" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="hashtagsToRemove" type="tns:ArrayOfString" />
            <s:element minOccurs="1" maxOccurs="1" name="priorityId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddRequirementModificationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddRequirementModificationResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRequirementModification">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementModificationId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRequirementModificationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRequirementModificationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrentRequirementModification">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrentRequirementModificationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCurrentRequirementModificationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateRequirement">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="newProjectId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="priorityId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateRequirementResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateRequirementModification">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementModifId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="priorityId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateRequirementModificationResponse">
        <s:complexType />
      </s:element>
      <s:element name="SubmitRequirementForApproval">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitRequirementForApprovalResponse">
        <s:complexType />
      </s:element>
      <s:element name="SubmitRequirementModificationForApproval">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementModificationId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitRequirementModificationForApprovalResponse">
        <s:complexType />
      </s:element>
      <s:element name="ApproveRequirementModification">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementModificationId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ApproveRequirementModificationResponse">
        <s:complexType />
      </s:element>
      <s:element name="RejectRequirementModification">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementModificationId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RejectRequirementModificationResponse">
        <s:complexType />
      </s:element>
      <s:element name="LikeRequirementModification">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementModificationId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LikeRequirementModificationResponse">
        <s:complexType />
      </s:element>
      <s:element name="DislikeRequirementModification">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementModificationId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DislikeRequirementModificationResponse">
        <s:complexType />
      </s:element>
      <s:element name="CommentRequirementModification">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementModificationId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="comment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CommentRequirementModificationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CommentRequirementModificationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRequirementModificationComments">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementModificationId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRequirementModificationCommentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRequirementModificationCommentsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRequirementsModificationList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRequirementsModificationListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRequirementsModificationListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetApprovedRequirementsModificationList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetApprovedRequirementsModificationListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetApprovedRequirementsModificationListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRejectedRequirementsModificationList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRejectedRequirementsModificationListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRejectedRequirementsModificationListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPendingApprovalRequirementsModificationList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPendingApprovalRequirementsModificationListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPendingApprovalRequirementsModificationListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDraftRequirementsModificationList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDraftRequirementsModificationListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDraftRequirementsModificationListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAttachment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileContent" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAttachmentResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetAttachment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAttachmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAttachmentResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddModificationAttachment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementModifId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileContent" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="encUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddModificationAttachmentResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetModificationAttachment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementModifId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetModificationAttachmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetModificationAttachmentResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRequirementVersionHistory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRequirementVersionHistoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRequirementVersionHistoryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRequirementVersion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementVersionId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRequirementVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRequirementVersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUsersInvolvedInRequirement">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="companyId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="requirementId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUsersInvolvedInRequirementResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUsersInvolvedInRequirementResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddRequirementSoapIn">
    <wsdl:part name="parameters" element="tns:AddRequirement" />
  </wsdl:message>
  <wsdl:message name="AddRequirementSoapOut">
    <wsdl:part name="parameters" element="tns:AddRequirementResponse" />
  </wsdl:message>
  <wsdl:message name="CommentRequirementSoapIn">
    <wsdl:part name="parameters" element="tns:CommentRequirement" />
  </wsdl:message>
  <wsdl:message name="CommentRequirementSoapOut">
    <wsdl:part name="parameters" element="tns:CommentRequirementResponse" />
  </wsdl:message>
  <wsdl:message name="LikeRequirementSoapIn">
    <wsdl:part name="parameters" element="tns:LikeRequirement" />
  </wsdl:message>
  <wsdl:message name="LikeRequirementSoapOut">
    <wsdl:part name="parameters" element="tns:LikeRequirementResponse" />
  </wsdl:message>
  <wsdl:message name="DislikeRequirementSoapIn">
    <wsdl:part name="parameters" element="tns:DislikeRequirement" />
  </wsdl:message>
  <wsdl:message name="DislikeRequirementSoapOut">
    <wsdl:part name="parameters" element="tns:DislikeRequirementResponse" />
  </wsdl:message>
  <wsdl:message name="GetRequirementsListSoapIn">
    <wsdl:part name="parameters" element="tns:GetRequirementsList" />
  </wsdl:message>
  <wsdl:message name="GetRequirementsListSoapOut">
    <wsdl:part name="parameters" element="tns:GetRequirementsListResponse" />
  </wsdl:message>
  <wsdl:message name="GetRequirementsByHashtagSoapIn">
    <wsdl:part name="parameters" element="tns:GetRequirementsByHashtag" />
  </wsdl:message>
  <wsdl:message name="GetRequirementsByHashtagSoapOut">
    <wsdl:part name="parameters" element="tns:GetRequirementsByHashtagResponse" />
  </wsdl:message>
  <wsdl:message name="GetApprovedRequirementsListSoapIn">
    <wsdl:part name="parameters" element="tns:GetApprovedRequirementsList" />
  </wsdl:message>
  <wsdl:message name="GetApprovedRequirementsListSoapOut">
    <wsdl:part name="parameters" element="tns:GetApprovedRequirementsListResponse" />
  </wsdl:message>
  <wsdl:message name="GetRejectedRequirementsListSoapIn">
    <wsdl:part name="parameters" element="tns:GetRejectedRequirementsList" />
  </wsdl:message>
  <wsdl:message name="GetRejectedRequirementsListSoapOut">
    <wsdl:part name="parameters" element="tns:GetRejectedRequirementsListResponse" />
  </wsdl:message>
  <wsdl:message name="GetPendingApprovalRequirementsListSoapIn">
    <wsdl:part name="parameters" element="tns:GetPendingApprovalRequirementsList" />
  </wsdl:message>
  <wsdl:message name="GetPendingApprovalRequirementsListSoapOut">
    <wsdl:part name="parameters" element="tns:GetPendingApprovalRequirementsListResponse" />
  </wsdl:message>
  <wsdl:message name="GetDraftRequirementsListSoapIn">
    <wsdl:part name="parameters" element="tns:GetDraftRequirementsList" />
  </wsdl:message>
  <wsdl:message name="GetDraftRequirementsListSoapOut">
    <wsdl:part name="parameters" element="tns:GetDraftRequirementsListResponse" />
  </wsdl:message>
  <wsdl:message name="GetPendingDevelopmentRequirementsListSoapIn">
    <wsdl:part name="parameters" element="tns:GetPendingDevelopmentRequirementsList" />
  </wsdl:message>
  <wsdl:message name="GetPendingDevelopmentRequirementsListSoapOut">
    <wsdl:part name="parameters" element="tns:GetPendingDevelopmentRequirementsListResponse" />
  </wsdl:message>
  <wsdl:message name="GetUnderDevelopmentRequirementsListSoapIn">
    <wsdl:part name="parameters" element="tns:GetUnderDevelopmentRequirementsList" />
  </wsdl:message>
  <wsdl:message name="GetUnderDevelopmentRequirementsListSoapOut">
    <wsdl:part name="parameters" element="tns:GetUnderDevelopmentRequirementsListResponse" />
  </wsdl:message>
  <wsdl:message name="GetUnderTestingRequirementsListSoapIn">
    <wsdl:part name="parameters" element="tns:GetUnderTestingRequirementsList" />
  </wsdl:message>
  <wsdl:message name="GetUnderTestingRequirementsListSoapOut">
    <wsdl:part name="parameters" element="tns:GetUnderTestingRequirementsListResponse" />
  </wsdl:message>
  <wsdl:message name="GetDeployedRequirementsListSoapIn">
    <wsdl:part name="parameters" element="tns:GetDeployedRequirementsList" />
  </wsdl:message>
  <wsdl:message name="GetDeployedRequirementsListSoapOut">
    <wsdl:part name="parameters" element="tns:GetDeployedRequirementsListResponse" />
  </wsdl:message>
  <wsdl:message name="GetRequirementSoapIn">
    <wsdl:part name="parameters" element="tns:GetRequirement" />
  </wsdl:message>
  <wsdl:message name="GetRequirementSoapOut">
    <wsdl:part name="parameters" element="tns:GetRequirementResponse" />
  </wsdl:message>
  <wsdl:message name="GetRequirementCommentsSoapIn">
    <wsdl:part name="parameters" element="tns:GetRequirementComments" />
  </wsdl:message>
  <wsdl:message name="GetRequirementCommentsSoapOut">
    <wsdl:part name="parameters" element="tns:GetRequirementCommentsResponse" />
  </wsdl:message>
  <wsdl:message name="ApproveRequirementSoapIn">
    <wsdl:part name="parameters" element="tns:ApproveRequirement" />
  </wsdl:message>
  <wsdl:message name="ApproveRequirementSoapOut">
    <wsdl:part name="parameters" element="tns:ApproveRequirementResponse" />
  </wsdl:message>
  <wsdl:message name="SetRequirementDeployedSoapIn">
    <wsdl:part name="parameters" element="tns:SetRequirementDeployed" />
  </wsdl:message>
  <wsdl:message name="SetRequirementDeployedSoapOut">
    <wsdl:part name="parameters" element="tns:SetRequirementDeployedResponse" />
  </wsdl:message>
  <wsdl:message name="SetRequirementUnderTestingSoapIn">
    <wsdl:part name="parameters" element="tns:SetRequirementUnderTesting" />
  </wsdl:message>
  <wsdl:message name="SetRequirementUnderTestingSoapOut">
    <wsdl:part name="parameters" element="tns:SetRequirementUnderTestingResponse" />
  </wsdl:message>
  <wsdl:message name="SetRequirementUnderDevelopmentSoapIn">
    <wsdl:part name="parameters" element="tns:SetRequirementUnderDevelopment" />
  </wsdl:message>
  <wsdl:message name="SetRequirementUnderDevelopmentSoapOut">
    <wsdl:part name="parameters" element="tns:SetRequirementUnderDevelopmentResponse" />
  </wsdl:message>
  <wsdl:message name="RejectRequirementSoapIn">
    <wsdl:part name="parameters" element="tns:RejectRequirement" />
  </wsdl:message>
  <wsdl:message name="RejectRequirementSoapOut">
    <wsdl:part name="parameters" element="tns:RejectRequirementResponse" />
  </wsdl:message>
  <wsdl:message name="AddRequirementModificationSoapIn">
    <wsdl:part name="parameters" element="tns:AddRequirementModification" />
  </wsdl:message>
  <wsdl:message name="AddRequirementModificationSoapOut">
    <wsdl:part name="parameters" element="tns:AddRequirementModificationResponse" />
  </wsdl:message>
  <wsdl:message name="GetRequirementModificationSoapIn">
    <wsdl:part name="parameters" element="tns:GetRequirementModification" />
  </wsdl:message>
  <wsdl:message name="GetRequirementModificationSoapOut">
    <wsdl:part name="parameters" element="tns:GetRequirementModificationResponse" />
  </wsdl:message>
  <wsdl:message name="GetCurrentRequirementModificationSoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrentRequirementModification" />
  </wsdl:message>
  <wsdl:message name="GetCurrentRequirementModificationSoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrentRequirementModificationResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateRequirementSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateRequirement" />
  </wsdl:message>
  <wsdl:message name="UpdateRequirementSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateRequirementResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateRequirementModificationSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateRequirementModification" />
  </wsdl:message>
  <wsdl:message name="UpdateRequirementModificationSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateRequirementModificationResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitRequirementForApprovalSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitRequirementForApproval" />
  </wsdl:message>
  <wsdl:message name="SubmitRequirementForApprovalSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitRequirementForApprovalResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitRequirementModificationForApprovalSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitRequirementModificationForApproval" />
  </wsdl:message>
  <wsdl:message name="SubmitRequirementModificationForApprovalSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitRequirementModificationForApprovalResponse" />
  </wsdl:message>
  <wsdl:message name="ApproveRequirementModificationSoapIn">
    <wsdl:part name="parameters" element="tns:ApproveRequirementModification" />
  </wsdl:message>
  <wsdl:message name="ApproveRequirementModificationSoapOut">
    <wsdl:part name="parameters" element="tns:ApproveRequirementModificationResponse" />
  </wsdl:message>
  <wsdl:message name="RejectRequirementModificationSoapIn">
    <wsdl:part name="parameters" element="tns:RejectRequirementModification" />
  </wsdl:message>
  <wsdl:message name="RejectRequirementModificationSoapOut">
    <wsdl:part name="parameters" element="tns:RejectRequirementModificationResponse" />
  </wsdl:message>
  <wsdl:message name="LikeRequirementModificationSoapIn">
    <wsdl:part name="parameters" element="tns:LikeRequirementModification" />
  </wsdl:message>
  <wsdl:message name="LikeRequirementModificationSoapOut">
    <wsdl:part name="parameters" element="tns:LikeRequirementModificationResponse" />
  </wsdl:message>
  <wsdl:message name="DislikeRequirementModificationSoapIn">
    <wsdl:part name="parameters" element="tns:DislikeRequirementModification" />
  </wsdl:message>
  <wsdl:message name="DislikeRequirementModificationSoapOut">
    <wsdl:part name="parameters" element="tns:DislikeRequirementModificationResponse" />
  </wsdl:message>
  <wsdl:message name="CommentRequirementModificationSoapIn">
    <wsdl:part name="parameters" element="tns:CommentRequirementModification" />
  </wsdl:message>
  <wsdl:message name="CommentRequirementModificationSoapOut">
    <wsdl:part name="parameters" element="tns:CommentRequirementModificationResponse" />
  </wsdl:message>
  <wsdl:message name="GetRequirementModificationCommentsSoapIn">
    <wsdl:part name="parameters" element="tns:GetRequirementModificationComments" />
  </wsdl:message>
  <wsdl:message name="GetRequirementModificationCommentsSoapOut">
    <wsdl:part name="parameters" element="tns:GetRequirementModificationCommentsResponse" />
  </wsdl:message>
  <wsdl:message name="GetRequirementsModificationListSoapIn">
    <wsdl:part name="parameters" element="tns:GetRequirementsModificationList" />
  </wsdl:message>
  <wsdl:message name="GetRequirementsModificationListSoapOut">
    <wsdl:part name="parameters" element="tns:GetRequirementsModificationListResponse" />
  </wsdl:message>
  <wsdl:message name="GetApprovedRequirementsModificationListSoapIn">
    <wsdl:part name="parameters" element="tns:GetApprovedRequirementsModificationList" />
  </wsdl:message>
  <wsdl:message name="GetApprovedRequirementsModificationListSoapOut">
    <wsdl:part name="parameters" element="tns:GetApprovedRequirementsModificationListResponse" />
  </wsdl:message>
  <wsdl:message name="GetRejectedRequirementsModificationListSoapIn">
    <wsdl:part name="parameters" element="tns:GetRejectedRequirementsModificationList" />
  </wsdl:message>
  <wsdl:message name="GetRejectedRequirementsModificationListSoapOut">
    <wsdl:part name="parameters" element="tns:GetRejectedRequirementsModificationListResponse" />
  </wsdl:message>
  <wsdl:message name="GetPendingApprovalRequirementsModificationListSoapIn">
    <wsdl:part name="parameters" element="tns:GetPendingApprovalRequirementsModificationList" />
  </wsdl:message>
  <wsdl:message name="GetPendingApprovalRequirementsModificationListSoapOut">
    <wsdl:part name="parameters" element="tns:GetPendingApprovalRequirementsModificationListResponse" />
  </wsdl:message>
  <wsdl:message name="GetDraftRequirementsModificationListSoapIn">
    <wsdl:part name="parameters" element="tns:GetDraftRequirementsModificationList" />
  </wsdl:message>
  <wsdl:message name="GetDraftRequirementsModificationListSoapOut">
    <wsdl:part name="parameters" element="tns:GetDraftRequirementsModificationListResponse" />
  </wsdl:message>
  <wsdl:message name="AddAttachmentSoapIn">
    <wsdl:part name="parameters" element="tns:AddAttachment" />
  </wsdl:message>
  <wsdl:message name="AddAttachmentSoapOut">
    <wsdl:part name="parameters" element="tns:AddAttachmentResponse" />
  </wsdl:message>
  <wsdl:message name="GetAttachmentSoapIn">
    <wsdl:part name="parameters" element="tns:GetAttachment" />
  </wsdl:message>
  <wsdl:message name="GetAttachmentSoapOut">
    <wsdl:part name="parameters" element="tns:GetAttachmentResponse" />
  </wsdl:message>
  <wsdl:message name="AddModificationAttachmentSoapIn">
    <wsdl:part name="parameters" element="tns:AddModificationAttachment" />
  </wsdl:message>
  <wsdl:message name="AddModificationAttachmentSoapOut">
    <wsdl:part name="parameters" element="tns:AddModificationAttachmentResponse" />
  </wsdl:message>
  <wsdl:message name="GetModificationAttachmentSoapIn">
    <wsdl:part name="parameters" element="tns:GetModificationAttachment" />
  </wsdl:message>
  <wsdl:message name="GetModificationAttachmentSoapOut">
    <wsdl:part name="parameters" element="tns:GetModificationAttachmentResponse" />
  </wsdl:message>
  <wsdl:message name="GetRequirementVersionHistorySoapIn">
    <wsdl:part name="parameters" element="tns:GetRequirementVersionHistory" />
  </wsdl:message>
  <wsdl:message name="GetRequirementVersionHistorySoapOut">
    <wsdl:part name="parameters" element="tns:GetRequirementVersionHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="GetRequirementVersionSoapIn">
    <wsdl:part name="parameters" element="tns:GetRequirementVersion" />
  </wsdl:message>
  <wsdl:message name="GetRequirementVersionSoapOut">
    <wsdl:part name="parameters" element="tns:GetRequirementVersionResponse" />
  </wsdl:message>
  <wsdl:message name="GetUsersInvolvedInRequirementSoapIn">
    <wsdl:part name="parameters" element="tns:GetUsersInvolvedInRequirement" />
  </wsdl:message>
  <wsdl:message name="GetUsersInvolvedInRequirementSoapOut">
    <wsdl:part name="parameters" element="tns:GetUsersInvolvedInRequirementResponse" />
  </wsdl:message>
  <wsdl:portType name="RequirementSoap">
    <wsdl:operation name="AddRequirement">
      <wsdl:input message="tns:AddRequirementSoapIn" />
      <wsdl:output message="tns:AddRequirementSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CommentRequirement">
      <wsdl:input message="tns:CommentRequirementSoapIn" />
      <wsdl:output message="tns:CommentRequirementSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LikeRequirement">
      <wsdl:input message="tns:LikeRequirementSoapIn" />
      <wsdl:output message="tns:LikeRequirementSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DislikeRequirement">
      <wsdl:input message="tns:DislikeRequirementSoapIn" />
      <wsdl:output message="tns:DislikeRequirementSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRequirementsList">
      <wsdl:input message="tns:GetRequirementsListSoapIn" />
      <wsdl:output message="tns:GetRequirementsListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRequirementsByHashtag">
      <wsdl:input message="tns:GetRequirementsByHashtagSoapIn" />
      <wsdl:output message="tns:GetRequirementsByHashtagSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetApprovedRequirementsList">
      <wsdl:input message="tns:GetApprovedRequirementsListSoapIn" />
      <wsdl:output message="tns:GetApprovedRequirementsListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRejectedRequirementsList">
      <wsdl:input message="tns:GetRejectedRequirementsListSoapIn" />
      <wsdl:output message="tns:GetRejectedRequirementsListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPendingApprovalRequirementsList">
      <wsdl:input message="tns:GetPendingApprovalRequirementsListSoapIn" />
      <wsdl:output message="tns:GetPendingApprovalRequirementsListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDraftRequirementsList">
      <wsdl:input message="tns:GetDraftRequirementsListSoapIn" />
      <wsdl:output message="tns:GetDraftRequirementsListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPendingDevelopmentRequirementsList">
      <wsdl:input message="tns:GetPendingDevelopmentRequirementsListSoapIn" />
      <wsdl:output message="tns:GetPendingDevelopmentRequirementsListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUnderDevelopmentRequirementsList">
      <wsdl:input message="tns:GetUnderDevelopmentRequirementsListSoapIn" />
      <wsdl:output message="tns:GetUnderDevelopmentRequirementsListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUnderTestingRequirementsList">
      <wsdl:input message="tns:GetUnderTestingRequirementsListSoapIn" />
      <wsdl:output message="tns:GetUnderTestingRequirementsListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDeployedRequirementsList">
      <wsdl:input message="tns:GetDeployedRequirementsListSoapIn" />
      <wsdl:output message="tns:GetDeployedRequirementsListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRequirement">
      <wsdl:input message="tns:GetRequirementSoapIn" />
      <wsdl:output message="tns:GetRequirementSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRequirementComments">
      <wsdl:input message="tns:GetRequirementCommentsSoapIn" />
      <wsdl:output message="tns:GetRequirementCommentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ApproveRequirement">
      <wsdl:input message="tns:ApproveRequirementSoapIn" />
      <wsdl:output message="tns:ApproveRequirementSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetRequirementDeployed">
      <wsdl:input message="tns:SetRequirementDeployedSoapIn" />
      <wsdl:output message="tns:SetRequirementDeployedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetRequirementUnderTesting">
      <wsdl:input message="tns:SetRequirementUnderTestingSoapIn" />
      <wsdl:output message="tns:SetRequirementUnderTestingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetRequirementUnderDevelopment">
      <wsdl:input message="tns:SetRequirementUnderDevelopmentSoapIn" />
      <wsdl:output message="tns:SetRequirementUnderDevelopmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RejectRequirement">
      <wsdl:input message="tns:RejectRequirementSoapIn" />
      <wsdl:output message="tns:RejectRequirementSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddRequirementModification">
      <wsdl:input message="tns:AddRequirementModificationSoapIn" />
      <wsdl:output message="tns:AddRequirementModificationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRequirementModification">
      <wsdl:input message="tns:GetRequirementModificationSoapIn" />
      <wsdl:output message="tns:GetRequirementModificationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentRequirementModification">
      <wsdl:input message="tns:GetCurrentRequirementModificationSoapIn" />
      <wsdl:output message="tns:GetCurrentRequirementModificationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRequirement">
      <wsdl:input message="tns:UpdateRequirementSoapIn" />
      <wsdl:output message="tns:UpdateRequirementSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRequirementModification">
      <wsdl:input message="tns:UpdateRequirementModificationSoapIn" />
      <wsdl:output message="tns:UpdateRequirementModificationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitRequirementForApproval">
      <wsdl:input message="tns:SubmitRequirementForApprovalSoapIn" />
      <wsdl:output message="tns:SubmitRequirementForApprovalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitRequirementModificationForApproval">
      <wsdl:input message="tns:SubmitRequirementModificationForApprovalSoapIn" />
      <wsdl:output message="tns:SubmitRequirementModificationForApprovalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ApproveRequirementModification">
      <wsdl:input message="tns:ApproveRequirementModificationSoapIn" />
      <wsdl:output message="tns:ApproveRequirementModificationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RejectRequirementModification">
      <wsdl:input message="tns:RejectRequirementModificationSoapIn" />
      <wsdl:output message="tns:RejectRequirementModificationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LikeRequirementModification">
      <wsdl:input message="tns:LikeRequirementModificationSoapIn" />
      <wsdl:output message="tns:LikeRequirementModificationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DislikeRequirementModification">
      <wsdl:input message="tns:DislikeRequirementModificationSoapIn" />
      <wsdl:output message="tns:DislikeRequirementModificationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CommentRequirementModification">
      <wsdl:input message="tns:CommentRequirementModificationSoapIn" />
      <wsdl:output message="tns:CommentRequirementModificationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRequirementModificationComments">
      <wsdl:input message="tns:GetRequirementModificationCommentsSoapIn" />
      <wsdl:output message="tns:GetRequirementModificationCommentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRequirementsModificationList">
      <wsdl:input message="tns:GetRequirementsModificationListSoapIn" />
      <wsdl:output message="tns:GetRequirementsModificationListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetApprovedRequirementsModificationList">
      <wsdl:input message="tns:GetApprovedRequirementsModificationListSoapIn" />
      <wsdl:output message="tns:GetApprovedRequirementsModificationListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRejectedRequirementsModificationList">
      <wsdl:input message="tns:GetRejectedRequirementsModificationListSoapIn" />
      <wsdl:output message="tns:GetRejectedRequirementsModificationListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPendingApprovalRequirementsModificationList">
      <wsdl:input message="tns:GetPendingApprovalRequirementsModificationListSoapIn" />
      <wsdl:output message="tns:GetPendingApprovalRequirementsModificationListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDraftRequirementsModificationList">
      <wsdl:input message="tns:GetDraftRequirementsModificationListSoapIn" />
      <wsdl:output message="tns:GetDraftRequirementsModificationListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddAttachment">
      <wsdl:input message="tns:AddAttachmentSoapIn" />
      <wsdl:output message="tns:AddAttachmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAttachment">
      <wsdl:input message="tns:GetAttachmentSoapIn" />
      <wsdl:output message="tns:GetAttachmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddModificationAttachment">
      <wsdl:input message="tns:AddModificationAttachmentSoapIn" />
      <wsdl:output message="tns:AddModificationAttachmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetModificationAttachment">
      <wsdl:input message="tns:GetModificationAttachmentSoapIn" />
      <wsdl:output message="tns:GetModificationAttachmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRequirementVersionHistory">
      <wsdl:input message="tns:GetRequirementVersionHistorySoapIn" />
      <wsdl:output message="tns:GetRequirementVersionHistorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRequirementVersion">
      <wsdl:input message="tns:GetRequirementVersionSoapIn" />
      <wsdl:output message="tns:GetRequirementVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersInvolvedInRequirement">
      <wsdl:input message="tns:GetUsersInvolvedInRequirementSoapIn" />
      <wsdl:output message="tns:GetUsersInvolvedInRequirementSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RequirementSoap" type="tns:RequirementSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddRequirement">
      <soap:operation soapAction="http://tempuri.org/AddRequirement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommentRequirement">
      <soap:operation soapAction="http://tempuri.org/CommentRequirement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LikeRequirement">
      <soap:operation soapAction="http://tempuri.org/LikeRequirement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DislikeRequirement">
      <soap:operation soapAction="http://tempuri.org/DislikeRequirement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequirementsList">
      <soap:operation soapAction="http://tempuri.org/GetRequirementsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequirementsByHashtag">
      <soap:operation soapAction="http://tempuri.org/GetRequirementsByHashtag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApprovedRequirementsList">
      <soap:operation soapAction="http://tempuri.org/GetApprovedRequirementsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRejectedRequirementsList">
      <soap:operation soapAction="http://tempuri.org/GetRejectedRequirementsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPendingApprovalRequirementsList">
      <soap:operation soapAction="http://tempuri.org/GetPendingApprovalRequirementsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDraftRequirementsList">
      <soap:operation soapAction="http://tempuri.org/GetDraftRequirementsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPendingDevelopmentRequirementsList">
      <soap:operation soapAction="http://tempuri.org/GetPendingDevelopmentRequirementsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnderDevelopmentRequirementsList">
      <soap:operation soapAction="http://tempuri.org/GetUnderDevelopmentRequirementsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnderTestingRequirementsList">
      <soap:operation soapAction="http://tempuri.org/GetUnderTestingRequirementsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeployedRequirementsList">
      <soap:operation soapAction="http://tempuri.org/GetDeployedRequirementsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequirement">
      <soap:operation soapAction="http://tempuri.org/GetRequirement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequirementComments">
      <soap:operation soapAction="http://tempuri.org/GetRequirementComments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApproveRequirement">
      <soap:operation soapAction="http://tempuri.org/ApproveRequirement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetRequirementDeployed">
      <soap:operation soapAction="http://tempuri.org/SetRequirementDeployed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetRequirementUnderTesting">
      <soap:operation soapAction="http://tempuri.org/SetRequirementUnderTesting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetRequirementUnderDevelopment">
      <soap:operation soapAction="http://tempuri.org/SetRequirementUnderDevelopment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RejectRequirement">
      <soap:operation soapAction="http://tempuri.org/RejectRequirement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRequirementModification">
      <soap:operation soapAction="http://tempuri.org/AddRequirementModification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequirementModification">
      <soap:operation soapAction="http://tempuri.org/GetRequirementModification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentRequirementModification">
      <soap:operation soapAction="http://tempuri.org/GetCurrentRequirementModification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRequirement">
      <soap:operation soapAction="http://tempuri.org/UpdateRequirement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRequirementModification">
      <soap:operation soapAction="http://tempuri.org/UpdateRequirementModification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitRequirementForApproval">
      <soap:operation soapAction="http://tempuri.org/SubmitRequirementForApproval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitRequirementModificationForApproval">
      <soap:operation soapAction="http://tempuri.org/SubmitRequirementModificationForApproval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApproveRequirementModification">
      <soap:operation soapAction="http://tempuri.org/ApproveRequirementModification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RejectRequirementModification">
      <soap:operation soapAction="http://tempuri.org/RejectRequirementModification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LikeRequirementModification">
      <soap:operation soapAction="http://tempuri.org/LikeRequirementModification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DislikeRequirementModification">
      <soap:operation soapAction="http://tempuri.org/DislikeRequirementModification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommentRequirementModification">
      <soap:operation soapAction="http://tempuri.org/CommentRequirementModification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequirementModificationComments">
      <soap:operation soapAction="http://tempuri.org/GetRequirementModificationComments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequirementsModificationList">
      <soap:operation soapAction="http://tempuri.org/GetRequirementsModificationList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApprovedRequirementsModificationList">
      <soap:operation soapAction="http://tempuri.org/GetApprovedRequirementsModificationList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRejectedRequirementsModificationList">
      <soap:operation soapAction="http://tempuri.org/GetRejectedRequirementsModificationList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPendingApprovalRequirementsModificationList">
      <soap:operation soapAction="http://tempuri.org/GetPendingApprovalRequirementsModificationList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDraftRequirementsModificationList">
      <soap:operation soapAction="http://tempuri.org/GetDraftRequirementsModificationList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAttachment">
      <soap:operation soapAction="http://tempuri.org/AddAttachment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAttachment">
      <soap:operation soapAction="http://tempuri.org/GetAttachment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddModificationAttachment">
      <soap:operation soapAction="http://tempuri.org/AddModificationAttachment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModificationAttachment">
      <soap:operation soapAction="http://tempuri.org/GetModificationAttachment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequirementVersionHistory">
      <soap:operation soapAction="http://tempuri.org/GetRequirementVersionHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequirementVersion">
      <soap:operation soapAction="http://tempuri.org/GetRequirementVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersInvolvedInRequirement">
      <soap:operation soapAction="http://tempuri.org/GetUsersInvolvedInRequirement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RequirementSoap12" type="tns:RequirementSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddRequirement">
      <soap12:operation soapAction="http://tempuri.org/AddRequirement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommentRequirement">
      <soap12:operation soapAction="http://tempuri.org/CommentRequirement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LikeRequirement">
      <soap12:operation soapAction="http://tempuri.org/LikeRequirement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DislikeRequirement">
      <soap12:operation soapAction="http://tempuri.org/DislikeRequirement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequirementsList">
      <soap12:operation soapAction="http://tempuri.org/GetRequirementsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequirementsByHashtag">
      <soap12:operation soapAction="http://tempuri.org/GetRequirementsByHashtag" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApprovedRequirementsList">
      <soap12:operation soapAction="http://tempuri.org/GetApprovedRequirementsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRejectedRequirementsList">
      <soap12:operation soapAction="http://tempuri.org/GetRejectedRequirementsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPendingApprovalRequirementsList">
      <soap12:operation soapAction="http://tempuri.org/GetPendingApprovalRequirementsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDraftRequirementsList">
      <soap12:operation soapAction="http://tempuri.org/GetDraftRequirementsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPendingDevelopmentRequirementsList">
      <soap12:operation soapAction="http://tempuri.org/GetPendingDevelopmentRequirementsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnderDevelopmentRequirementsList">
      <soap12:operation soapAction="http://tempuri.org/GetUnderDevelopmentRequirementsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnderTestingRequirementsList">
      <soap12:operation soapAction="http://tempuri.org/GetUnderTestingRequirementsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeployedRequirementsList">
      <soap12:operation soapAction="http://tempuri.org/GetDeployedRequirementsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequirement">
      <soap12:operation soapAction="http://tempuri.org/GetRequirement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequirementComments">
      <soap12:operation soapAction="http://tempuri.org/GetRequirementComments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApproveRequirement">
      <soap12:operation soapAction="http://tempuri.org/ApproveRequirement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetRequirementDeployed">
      <soap12:operation soapAction="http://tempuri.org/SetRequirementDeployed" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetRequirementUnderTesting">
      <soap12:operation soapAction="http://tempuri.org/SetRequirementUnderTesting" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetRequirementUnderDevelopment">
      <soap12:operation soapAction="http://tempuri.org/SetRequirementUnderDevelopment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RejectRequirement">
      <soap12:operation soapAction="http://tempuri.org/RejectRequirement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRequirementModification">
      <soap12:operation soapAction="http://tempuri.org/AddRequirementModification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequirementModification">
      <soap12:operation soapAction="http://tempuri.org/GetRequirementModification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentRequirementModification">
      <soap12:operation soapAction="http://tempuri.org/GetCurrentRequirementModification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRequirement">
      <soap12:operation soapAction="http://tempuri.org/UpdateRequirement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRequirementModification">
      <soap12:operation soapAction="http://tempuri.org/UpdateRequirementModification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitRequirementForApproval">
      <soap12:operation soapAction="http://tempuri.org/SubmitRequirementForApproval" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitRequirementModificationForApproval">
      <soap12:operation soapAction="http://tempuri.org/SubmitRequirementModificationForApproval" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApproveRequirementModification">
      <soap12:operation soapAction="http://tempuri.org/ApproveRequirementModification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RejectRequirementModification">
      <soap12:operation soapAction="http://tempuri.org/RejectRequirementModification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LikeRequirementModification">
      <soap12:operation soapAction="http://tempuri.org/LikeRequirementModification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DislikeRequirementModification">
      <soap12:operation soapAction="http://tempuri.org/DislikeRequirementModification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommentRequirementModification">
      <soap12:operation soapAction="http://tempuri.org/CommentRequirementModification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequirementModificationComments">
      <soap12:operation soapAction="http://tempuri.org/GetRequirementModificationComments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequirementsModificationList">
      <soap12:operation soapAction="http://tempuri.org/GetRequirementsModificationList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApprovedRequirementsModificationList">
      <soap12:operation soapAction="http://tempuri.org/GetApprovedRequirementsModificationList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRejectedRequirementsModificationList">
      <soap12:operation soapAction="http://tempuri.org/GetRejectedRequirementsModificationList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPendingApprovalRequirementsModificationList">
      <soap12:operation soapAction="http://tempuri.org/GetPendingApprovalRequirementsModificationList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDraftRequirementsModificationList">
      <soap12:operation soapAction="http://tempuri.org/GetDraftRequirementsModificationList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAttachment">
      <soap12:operation soapAction="http://tempuri.org/AddAttachment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAttachment">
      <soap12:operation soapAction="http://tempuri.org/GetAttachment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddModificationAttachment">
      <soap12:operation soapAction="http://tempuri.org/AddModificationAttachment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModificationAttachment">
      <soap12:operation soapAction="http://tempuri.org/GetModificationAttachment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequirementVersionHistory">
      <soap12:operation soapAction="http://tempuri.org/GetRequirementVersionHistory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequirementVersion">
      <soap12:operation soapAction="http://tempuri.org/GetRequirementVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersInvolvedInRequirement">
      <soap12:operation soapAction="http://tempuri.org/GetUsersInvolvedInRequirement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Requirement">
    <wsdl:port name="RequirementSoap" binding="tns:RequirementSoap">
      <soap:address location="http://localhost:8081/Requirement.asmx" />
    </wsdl:port>
    <wsdl:port name="RequirementSoap12" binding="tns:RequirementSoap12">
      <soap12:address location="http://localhost:8081/Requirement.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>